<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.angstore.controllers.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.angstore.controllers.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductByCategory</servlet-name>
        <servlet-class>com.angstore.controllers.ProductByCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryByParent</servlet-name>
        <servlet-class>com.angstore.controllers.CategoryByParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RootCategorys</servlet-name>
        <servlet-class>com.angstore.controllers.RootCategorys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductByCategoryNameAndParent</servlet-name>
        <servlet-class>com.angstore.controllers.ProductByCategoryNameAndParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryTree</servlet-name>
        <servlet-class>com.angstore.controllers.CategoryTree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductBySku</servlet-name>
        <servlet-class>com.angstore.controllers.ProductBySku</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreDefault</servlet-name>
        <servlet-class>com.angstore.controllers.StoreDefault</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductByCategory</servlet-name>
        <url-pattern>/productbycategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryByParent</servlet-name>
        <url-pattern>/categorybyparent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RootCategorys</servlet-name>
        <url-pattern>/rootcategorys</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>HeaderFilter</filter-name>
        <filter-class>com.angstore.filters.HeaderFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.angstore.core.InitContext</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>ProductByCategoryNameAndParent</servlet-name>
        <url-pattern>/ProductByCategoryNameAndParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryTree</servlet-name>
        <url-pattern>/CategoryTree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductBySku</servlet-name>
        <url-pattern>/ProductBySku</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreDefault</servlet-name>
        <url-pattern>/StoreDefault</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
